<div class="total-amount">
  <p>{{totalAmount}}</p>
</div>
<div class="filter-group" style="display: flex;">
  <div class="category-filter">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      支出類別
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/">全部類別</a>
      {{#each categories}}
      <a class="dropdown-item" href="/filter/{{this.name}}">{{this.name}}</a>
      {{/each}}
    </div>
  </div>
  <button class="btn btn-secondary" type="button" id="create" onclick="self.location.href='/record/create'">
    <i class="fas fa-plus"></i>
  </button>
</div>
<table class="table table-striped">
  <tbody>
    {{#each records}}
    <tr>
      <td>{{{this.icon}}}</td>
      <td>
        <p>{{this.name}}</p>
        <p>{{this.date}}</p>
      </td>
      <td>{{this.remark}}</td>
      <td>{{this.amount}}</td>
      <td>
        <button class="edit" id="edit" onclick="self.location.href='/record/{{this._id}}/edit'"><i
            class="fas fa-pen"></i></button>
        <form action="/record/{{this._id}}?_method=DELETE" method="POST" style="display: inline;"
          onsubmit="return confirm('確定要刪除嗎？')">
          <button class="delete" type="submit"><i class="far fa-trash-alt"></i></button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>